{% extends 'base.html' %}

{% block title %}about{% endblock title %}

{% block body %}

<style>
 h1 {
     color: black;
     }

 h2 {
     color: red;
     }

 h3 {
     color: yellow;
     }
 h4 {
     color: green;
     }
 h5 {
     color: blue;
     }
 h6 {
     color: black;
     }

 h7 {
     color: brown;
     }


</style>

<main class="container">
<div class="container-fluid px-0 mb-3">
  <img src="/static/img/for home.jpg" class="d-block w-100  " alt="...">
 </div>
  <div class="starter-template text-center py-5 px-3">
    <h1>We are provide best quality product</h1>
    <h2>"All range of Wires"</h2>
    <h3>"All range of Light"</h3>
    <h4>"All range of Pipe"</h4>
    <h5>"All range of MCB"</h5>
    <h6>"All range of switch"</h6>
    <h7>"All range of socket"</h7>

  </div>

</main>

{% endblock body %}
