{% extends 'base.html' %}

{% block title %}Electric{% endblock title %}

{% block body %}
<body>
<main class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">All Types Of Electric Items</h1>
  </div>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Fan</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <img src="/static/img/fan.jpg" class="d-block w-100 " alt="...">
        </ul>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Swich</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <img src="/static/img/switch1.jpg" class="d-block w-100 " alt="...">
        </ul>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Socket</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <img src="/static/img/socket.jpg" class="d-block w-100 " alt="...">
        </ul>
      </div>
    </div>
    </div>
  </div>
   <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">MCB</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <img src="/static/img/MCB.jpg" class="d-block w-100 " alt="...">
        </ul>
      </div>
    </div>
    </div>

</main>

</body>
{% endblock body %}
